{%extends "base/base.html"%}
{% load bootstrap4 %}
{%load static%}
{% block content %}

<div class="container-fluid" >
  <div class="container">
    <h2  style="color:#000000;">
    <center>Trimester 1</center></h2>
        
  </div>

    <div class="row">
      <div class="col-md-4">
        <div class="media1">
          <div class="media-left">
            <img src="/static/pregnancy/wbw_squares_baby_wk_1.jpg" class="media-object" style="width:150px">
          </div>
          <div class="media-body">
            <h4 class="media-heading">Week 1 and 2</h4>
            <p>Your baby has yet to be conceived! Your pregnancy begins as your body gears up for ovulation and prepares for fertilization.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="media2">
          <div class="media-left">
            <img src="/static/pregnancy/wbw_squares_baby_wk_4.jpg" class="media-object" style="width:150px">
          </div>
          <div class="media-body">
            <h4 class="media-heading">Week 3</h4>
            <p>Your baby is smaller than a poppy seed. As sperm meets egg, fertilization occurs and your baby-to-be takes form — as a tiny group of cells.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="media1">
          <div class="media-left">
            <img src="/static/pregnancy/wbw_squares_baby_wk_4.jpg" class="media-object" style="width:150px">
          </div>
          <div class="media-body">
            <h4 class="media-heading">Week 4</h4>
            <p>Your baby is the size of a poppy seed. And guess what? It's implantation time! The blastocyst burrows into the uterine lining, then splits to form the placenta and the embryo as the specialized parts of your baby's body begin to develop.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="media2">
                <div class="media-left">
                  <img src="/static/pregnancy/wbw_squares_baby_wk_5.jpg" class="media-object" style="width:150px">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Week 5</h4>
                  <p>Your baby is the size of an orange seed. The heart and circulatory system are developing, while the hCG hormone levels in your body are now high enough to confirm that you're expecting using a home pregnancy test.</p>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="media1">
                <div class="media-left">
                  <img src="/static/pregnancy/wbw_squares_baby_wk_6.jpg" class="media-object" style="width:150px">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Week 6</h4>
                  <p>Your baby is the size of a sweet pea. And his little face is taking shape, which is something sweet to think about as you race to the toilet to pee yet again.</p>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="media2">
                <div class="media-left">
                  <img src="/static/pregnancy/wbw_squares_baby_wk_7.jpg" class="media-object" style="width:150px">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Week 7</h4>
                  <p>Your baby is the size of a blueberry. Right now, the only things growing faster than your baby's brain may be your tingly, achy breasts.</p>
                </div>
              </div>
         </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="media1">
                <div class="media-left">
                  <img src="/static/pregnancy/wbw_squares_baby_wk_8.jpg" class="media-object" style="width:150px">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Week 8</h4>
                  <p>Your baby is the size of a raspberry. As your embryo starts moving in the womb, morning sickness (which doesn't just strike in the morning) may have you moving to the bathroom.</p>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="media2">
                <div class="media-left">
                  <img src="/static/pregnancy/wbw_squares_baby_wk_9.jpg" class="media-object" style="width:150px">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Week 9</h4>
                  <p>Your baby is the size of an olive. Your little one is busy building muscle, but all you may want to do these days is take a nice long nap.</p>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="media1">
                <div class="media-left">
                  <img src="/static/pregnancy/wbw_squares_baby_wk_10.jpg" class="media-object" style="width:150px">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Week 10</h4>
                  <p>Your baby is the size of a prune. On your baby's to-do list this week: Build bones and cartilage. On your agenda: Increase your fiber intake to cope with constipation.</p>
                </div>
              </div>
         </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <div class="media2">
                <div class="media-left">
                  <img src="/static/pregnancy/wbw_squares_baby_wk_11.jpg" class="media-object" style="width:150px">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Week 11</h4>
                  <p>Your baby is the size of a lime. That adorable little alien inside your tummy is starting to look human about now, as you start feeling a bit more human yourself.</p>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="media1">
                <div class="media-left">
                  <img src="/static/pregnancy/wbw_squares_baby_wk_12.jpg" class="media-object" style="width:150px">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Week 12</h4>
                  <p>Your baby is the size of a small plum. While it may seem as if you've doubled in size over the past few weeks, it's actually your baby who has!</p>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="media2">
                <div class="media-left">
                  <img src="/static/pregnancy/wbw_squares_baby_wk_13.jpg" class="media-object" style="width:150px">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Week 13</h4>
                  <p>Your baby is the size of a peach. And as the first trimester comes to a close, you may not be feeling too peachy about your sex life right now.</p>
                </div>
              </div>
         </div>
    </div>
</div>
{% endblock %}
