{%extends "base/base.html"%}
{% load bootstrap4 %}
{%load static%}
{% block content %}

<div class="container-fluid" >
  <div>
    <h2  style="color:black;">
      <center>Trimester 2</center></h2>
        
  </div>

    <div class="row">
        <div class="col-md-4">
            <div class="media1">
                <div class="media-left">
                  <img src="/static/pregnancy/wbw_squares_baby_wk_14.jpg" class="media-object" style="width:150px">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Week 14</h4>
                  <p>Your baby is the size of your fist. It's all about hair now as your baby sprouts some on his head, eyebrows and body. As for Mom, those first trimester symptoms should be easing up a bit.</p>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="media2">
                <div class="media-left">
                  <img src="/static/pregnancy/wbw_squares_baby_wk_15.jpg" class="media-object" style="width:150px">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Week 15</h4>
                  <p>Your baby is the size of a navel orange. You might not be feeling it yet, but your baby is kicking those little legs and flexing those elbows, while — higher up — you may be coping with some dental weirdness.</p>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="media1">
                <div class="media-left">
                  <img src="/static/pregnancy/wbw_squares_baby_wk_16.jpg" class="media-object" style="width:150px">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Week 16</h4>
                  <p>Your baby is the size of an avocado. Here's an eye opener for you: While you're packing on the pounds, your baby's eyesight (and eyelashes!) are developing rapidly.</p>
                </div>
              </div>
         </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <div class="media2">
                <div class="media-left">
                  <img src="/static/pregnancy/wbw_squares_baby_wk_17.jpg" class="media-object" style="width:150px">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Week 17</h4>
                  <p>Your baby is the size of the palm of your hand. Your little one is practicing sucking and swallowing as she gets ready for the real thing: a breast or bottle! As for Mom, you may be warding off some unwanted tummy touching.</p>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="media1">
                <div class="media-left">
                  <img src="/static/pregnancy/wbw_squares_baby_wk_18.jpg" class="media-object" style="width:150px">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Week 18</h4>
                  <p>Your baby is the size of a sweet potato. You might start to feel your baby moving around anytime now, which is a great way to take your mind off your bothersome back.</p>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="media2">
                <div class="media-left">
                  <img src="/static/pregnancy/wbw_squares_baby_wk_19.jpg" class="media-object" style="width:150px">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Week 19</h4>
                  <p>Your baby is the size of a large mango. Your baby's skin now has a protective coating, while you might be hoping for something to protect you from painful leg cramps.
              </p>
                </div>
              </div>
         </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="media1">
                <div class="media-left">
                  <img src="/static/pregnancy/wbw_squares_baby_wk_20.jpg" class="media-object" style="width:150px">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Week 20</h4>
                  <p>Your baby is the size of a small cantaloupe. Boy or girl? You can find out this week through a routine ultrasound!</p>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="media2">
                <div class="media-left">
                  <img src="/static/pregnancy/wbw_squares_baby_wk_21.jpg" class="media-object" style="width:150px">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Week 21</h4>
                  <p>Your baby is the size of a large carrot. Your baby is grazing on whatever you are right now, but those stretch marks are yours alone, Mom.</p>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="media1">
                <div class="media-left">
                  <img src="/static/pregnancy/wbw_squares_baby_wk_22.jpg" class="media-object" style="width:150px">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Week 22</h4>
                  <p>Your baby is the size of a small doll. These days, the only things growing more rapidly than your baby's senses may be her mommy's feet!</p>
                </div>
              </div>
         </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="media2">
                <div class="media-left">
                  <img src="/static/pregnancy/wbw_squares_baby_wk_23.jpg" class="media-object" style="width:150px">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Week 23</h4>
                  <p>Your baby is the size of a papaya. Baby is getting (a little) plumper, but Mommy may notice something completely different when she glances at her own belly: the linea nigra.</p>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="media1">
                <div class="media-left">
                  <img src="/static/pregnancy/wbw_squares_baby_wk_24.jpg" class="media-object" style="width:150px">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Week 24</h4>
                  <p>Your baby is the size of an ear of corn. Your baby's facial features are really filling out…and your belly button may be really popping out!</p>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="media2">
                <div class="media-left">
                  <img src="/static/pregnancy/wbw_squares_baby_wk_25.jpg" class="media-object" style="width:150px">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Week 25</h4>
                  <p>Your baby is the size of a cauliflower. As baby prepares to take his first breath, pesky hemorrhoids may make you swear under yours.</p>
                </div>
              </div>
         </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="media1">
                <div class="media-left">
                  <img src="/static/pregnancy/wbw_squares_baby_wk_26.jpg" class="media-object" style="width:150px">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Week 26</h4>
                  <p>Your baby is the size of a chuck roast. Major excitement: Your baby opens his eyes! On the flip side, you might wish yours would stay closed so you could get some sleep.</p>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="media2">
                <div class="media-left">
                  <img src="/static/pregnancy/wbw_squares_baby_wk_27.jpg" class="media-object" style="width:150px">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Week 27</h4>
                  <p>Your baby is the size of an eggplant. Your baby hits a new milestone on the growth chart this week, while your swollen feet and ankles may need a growth chart of their own!</p>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            
        </div>
        <div class="media">
            <div class="media-left">
              <img src="" class="media-object" style="width:150px">
            </div>
            <div class="media-body">
              <h4 class="media-heading"> &nbsp; Your Guide to the Second Trimester of Pregnancy
          </h4>
          <p>&nbsp;&nbsp; The next three months bring lots of changes for your growing fetus and, most likely, welcome relief from early pregnancy symptoms for you. Here's more on what to expect.</p>
            </div>
          </div>
    </div>
</div>         
{% endblock %}




