{% extends "base/base.html" %}
{% load static %}

{% block content %}


<div class="vh-100 reg-doctor text-sea">
    <div class="row h-100 mx-0">
        <div class="col-md-6 d-flex justify-content-center split-left h-100">
            <div class="d-flex align-items-center">
                <div class="overflow-scroll vh-80" id="doctor_list">
                    {% for doctor in doctors %}
                    <div data-name="{{ doctor.name }}" data-score="{{ doctor.score }}" data-registration_number="{{ doctor.reg_no }}"
                        data-registration_date="{{ doctor.reg_date }}" data-nationality="{{ doctor.doctor_type }}"
                        data-facility="{{ doctor.facility }}" data-postal_address="{{ doctor.postal_address }}"
                        data-speciality="{{ doctor.speciality }}" data-sub_speciality="{{ doctor.sub_speciality }}"
                        data-qualifications="{{ doctor.qualifications }}" class="p-2 my-2 shadow-sm" id="{{ doctor.id }}">
                        <h3 id="{{ doctor.id }}" class="mhand" onclick="setDoctor(this.id)">{{ doctor.name }}</h3>
                        <p>
                            <span class="d-block">{{ doctor.facility }}</span>
                            <span class="d-block">
                                {{ doctor.postal_address }}</span>
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- **************** -->

        <div class="col-md-6 split-right h-100 d-flex flex-column justify-content-center text-center px-5 verifyform">
            <!-- <form action="/signup_doctor/" method="GET"> -->
            <h4 class="text-sea" type="text" value="" id="showName" disabled></h4>
            <div class="form-group">
                <div class="my-3 field">
                    <input type="text" id="doc_reg_no" value="" disabled hidden>
                    <label class="d-flex" for="id_verify_reg_no">Enter Your Registration Number</label>
                    <input class="border-dark-blue opacity-7 form-control py-4 mr-2" type="password" name="verify_reg_no"
                        id="id_verify_reg_no" required placeholder="Enter your registration number" />
                </div>
                <div class="form-group d-flex mx-auto">
                    <button type="submit" class="bg-dark-blue btn px-5 text-sea" onclick="verifyCredentials()">Verify
                        Credentials</button>
                </div>
            </div>
            <!-- </form> -->
        </div>

        <!-- *************** -->

        <div class="col-md-6 split-right h-100 d-flex flex-column justify-content-center text-center px-5 none loginform">
            <div class="errors">
                {% if messages %}
                {% for message in messages %}
                <p class="alert alert-info">{{ message }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <form method="post">
                    {% csrf_token %}
                    <input type="text" name="reg_no" id="form_reg_no" value="" hidden>
                    <div class="form-group">
                        <div class="my-3 field d-flex">
                            {{ form.first_name.errors }}
                            <input class="border-dark-blue opacity-7 form-control py-4 mr-2" type="text" name="first_name"
                                id="id_first_name" required placeholder="Enter your first name" />
                            {{ form.last_name.errors }}
                            <input class="border-dark-blue opacity-7 form-control py-4" type="text" name="last_name" id="id_last_name"
                                required placeholder="Enter your last name" />
                        </div>
                        <div class="my-3 field d-flex">
                            {{ form.username.errors }}
                            <input class="border-dark-blue opacity-7 form-control py-4 mr-2" type="text" name="username"
                                id="id_username" required placeholder="Enter your username" />
                            {{ form.email.errors }}
                            <input class="border-dark-blue opacity-7 form-control py-4" type="text" name="email" id="id_email"
                                required placeholder="Enter your email" />
                        </div>
                        <div class="my-3 field d-flex">
                            {{ form.password1.errors }}
                            <input class="border-dark-blue opacity-7 form-control py-4 mr-2" type="password" name="password1"
                                id="id_password1" required placeholder="Enter new password" />
                            {{ form.password2.errors }}
                            <input class="border-dark-blue opacity-7 form-control py-4" type="password" name="password2"
                                id="id_password2" required placeholder="Confirm password" />
                        </div>
                        <div class="my-3 field d-flex">
                            <label class="text-sea bg-transparent form-control py-4 mr-2 border-0 d-flex align-items-center"
                                for="id_fee">Your
                                Consultation Fee</label>
                            {{ form.fee.errors }}
                            <input class="border-dark-blue opacity-7 form-control py-4" type="password" name="fee" id="id_fee"
                                required placeholder="Ksh" />
                        </div>
                        <div class="my-3 field d-flex">
                            {{ working_hours.as_p }}
                        </div>
                        <div class="form-group d-flex mx-auto">
                            <input class="border-dark-blue opacity-7 form-control py-4" type="hidden" name="next" value="">
                            <button type="submit" class="bg-dark-blue btn px-5 text-sea">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock content %}