<footer>
    <div class="bg-sea d-flex px-5 justify-content-around" id="mamaFooter">
        <a class="text-dark-blue my-3" href="#">Home</a>
        <a class="text-dark-blue my-3" href="#">Sign Up</a>
        <a class="text-dark-blue my-3" href="#">Register</a>
        <a class="text-dark-blue my-3" href="#">List Your Practice</a>
        <a class="text-dark-blue my-3" href="#">About DocMe</a>
        <!-- <a class="text-dark-blue my-3" href="#">Shop Supplements</a> -->
        <a class="text-dark-blue my-3" href="#">Contact us</a>
        <a class="text-dark-blue my-3" href="#">Reviews</a>
        <a class="text-dark-blue my-3" href="#">FAQ</a>
        <a class="text-dark-blue my-3" href="#">Help desk</a>
        <a class="text-dark-blue my-3" href="#">Forums</a>
        <a class="text-dark-blue my-3" href="#">Terms of Service</a>
        <a class="text-dark-blue my-3" href="#">Terms of Use</a>
        <a class="text-dark-blue my-3" href="#">Privacy Policy</a>
    </div>
</footer>