{% load staticfiles %}

<!doctype html>
<html lang="en">
<!-- Start of Async Drift Code -->


        <!-- End of Async Drift Code -->
<!-- End of Async Drift Code -->

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Dosis%7CMerriweather" rel="stylesheet">


    {% block styles %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/patient.css' %}">
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/storytelling.css' %}">
    <link rel="stylesheet" href="{% static 'css/trimestermelissa.css' %}">
    <link rel="stylesheet" href="{% static 'css/scrollytelling.css' %}">
    <link rel="stylesheet" href="{% static 'css/cssanimation.css' %}">
    <link rel="stylesheet" href="{% static 'css/stuff.css' %}">

    {% endblock %}

    {% block title %}
    <style>
    </style>
    <title>Chemo-Talk</title>
    {% endblock title %}
    <link rel="icon" type="image/png" sizes="196x196" href="/static/img/favicon.png">
</head>

<body>
    <div class="fixed-top">
    <section class="bg-sea opacity-9" style="background-color:cadetblue">
        <!-- Actual navigation bar which is hella functional -->
       
        <nav class="nav container py-2 opacity-9">
            <div class="container-fluid px-0 d-flex justify-content-between align-items-center nav-border">

                <div id="center" class="d-flex align-items-center">
                    <a class="nav-link navbar-brand " href="{% url 'home' %}">
                        <h2 class="mb-0 text-dark-blue">Chemo-Talk</h2>
                    </a>
                    <a class="text-dark-blue" href="{% url 'search_doctors' %}">
                        Find Doctors
                    </a>
                    <a class="text-dark-blue ml-3" href="{% url 'scrollytelling' %}">
                        Journey
                    </a>
                    <!-- <div class="input-group-prepend ml-2">
                        <button class="bg-transparent btn dropdown-toggle text-dark-blue" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Types</button>
                        <div class="dropdown-menu bg-aqua top-max">
                            <a class="dropdown-item text-dark-aqua" href="{% url 'trimester1' %}">Trimester one</a>
                            <div role="separator" class="dropdown-divider">
                            </div>
                            <a class="dropdown-item text-dark-aqua" href="{% url 'trimester2' %}">trimester two</a>
                            <div role="separator" class="dropdown-divider">
                            </div>
                            <a class="dropdown-item text-dark-aqua" href="{% url 'trimester3' %}">trimester three</a>
                        </div>
                    </div> -->

                </div>
                <div class="about ml-auto">
                    <a class="bg-transparent py-1 text-dark-blue px-4" href="">
                        About Us
                    </a>
                </div>
                {% if user.is_authenticated %}
                {% if user.doctor %}
                <div id="login-submit" class="d-flex">
                    <a href="/doctor_profile/{{ user.id }}/{{ user.username }}/" class="nav-link">
                        <span class="text-dark-blue">{{ user.username }}</span>
                    </a>
                    <a href="/doctor_profile/{{ user.id }}/{{ user.username }}/" class="md-icon d-flex justify-content-center rounded-circle border">
                        <img class="h-100 judge-btn" src="{{ user.doctor.photo.url }}" alt="">
                    </a>
                    <a class="bg-transparent text-dark-blue px-4 d-flex align-items-center ml-3" href="{% url 'doctors_dashboard' %}">
                        Dashboard
                    </a>
                </div>
                {% else %}
                <div id="login-submit" class="d-flex">
                    <a class="nav-link" href="/patient_profile/{{ user.id }}/{{ user.username }}">
                        <span class="">{{ user.usernane }}</span>
                    </a>
                    <a href="/patient_profile/{{ user.id }}/{{ user.username }}" class="md-icon d-flex justify-content-center rounded-circle border border-secondary mx-1">
                        <img class="h-100 judge-btn" src="{{ user.profile.profile_photo.url }}" alt="">
                    </a>
                </div>
                {% endif %}
                <a class="btn btn-light py-1 shadow-sm px-4 mx-3" href="{% url 'logout' %}">logout</a>
                {% else %}
                <a href="{% url 'login' %}" class="btn bg-dark-blue text-sea py-1 shadow-sm px-4 mx-3">
                    Login
                </a>
                {% if request.user.is_admin %}
                <a href="http://localhost:8000/admin/" class="btn bg-danger text-white py-1 shadow-sm px-4 mx-3">
                    Admin
                </a>
                {% endif %}
                {% endif %}
            </div>
            </div>
        </nav>
    </section>


    {% block content %}
    {% endblock content %}
  


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'js/csrf_token.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scrolly.js'%}"></script>
    <script src='https://unpkg.com/intersection-observer@0.5.0/intersection-observer.js'></script>
    <script src='https://unpkg.com/scrollama'></script>
    <script src="{% static 'js/scrollytelling.js' %}"></script>

    <script>
        window.onload = function () {
            scrolly();
        };
    </script>
    <script src="{% static 'js/tom.js' %}"></script>
    {% if user.is_authenticated %}
    <script>
            "use strict";
            
            !function() {
              var t = window.driftt = window.drift = window.driftt || [];
              if (!t.init) {
                if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
                t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
                t.factory = function(e) {
                  return function() {
                    var n = Array.prototype.slice.call(arguments);
                    return n.unshift(e), t.push(n), t;
                  };
                }, t.methods.forEach(function(e) {
                  t[e] = t.factory(e);
                }), t.load = function(t) {
                  var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
                  o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
                  var i = document.getElementsByTagName("script")[0];
                  i.parentNode.insertBefore(o, i);
                };
              }
            }();
            drift.SNIPPET_VERSION = '0.3.1';
            drift.load('ck7gygpfxk2c');
            </script>
            {%endif%}
    {% endblock %}

</body>

</html>