{% if app.time_slot == '6' %}
<h6>6:00 am</h6>
{% endif %}

{% if app.time_slot == '7' %}
<h6>7:00 am</h6>
{% endif %}

{% if app.time_slot == '8' %}
<h6>8:00 am</h6>
{% endif %}

{% if app.time_slot == '9' %}
<h6>9:00 am</h6>
{% endif %}

{% if app.time_slot == '10' %}
<h6>10:00 am</h6>
{% endif %}

{% if app.time_slot == '11' %}
<h6>11:00 am</h6>
{% endif %}

{% if app.time_slot == '12' %}
<h6>12:00 am</h6>
{% endif %}

{% if app.time_slot == '13' %}
<h6>1:00 pm</h6>
{% endif %}

{% if app.time_slot == '14' %}
<h6>2:00 pm</h6>
{% endif %}

{% if app.time_slot == '15' %}
<h6>3:00 pm</h6>
{% endif %}

{% if app.time_slot == '16' %}
<h6>4:00 pm</h6>
{% endif %}


{% if app.time_slot == '17' %}
<h6>5:00 pm</h6>
{% endif %}

{% if app.time_slot == '18' %}
<h6>6:00 pm</h6>
{% endif %}