{%extends "base/base.html"%}

{% load bootstrap4 %}

{%load staticfiles%}

{% block content %}

<h1>WHY AMAMA MATERNAL CARE<h1>
<hr>
<br>
<p>We are passionate about achieving our mission of enabling mothers to live healthier, longer, happier lives. </p>

<p>We help mothers to meet their maternal needs while pregnant.</p>

<p><b>Amama</b> is a life-affirming site that <b>does not</b> make referrals to abortion providers. </p>

<p>It is our joy that women should have access to information and support in a non-judgmental and caring fashion.</p>

<h1>1. Specialized In Maternal Healthcare</h1>
<br>
<p>We are 100% focused on marketing for maternal healthcare providers. </p>

<p>We know the industry, the specialties, the terminology and the dynamics of how a medical or maternal practice is run. </p>

<p>We know what works and what is needed to create a stunning visual representation of your practice. </p>

<p>Doulas,Midwives,Gynaecologists and Obsteristians are all welcomed when they need high-quality design work and effective marketing.</p>

<h1>2. Experience In Getting Results</h1>
<p>Our team of designers has developed unique websites. </p>

<p>That is among the highest in the industry. We understand how busy you 

are so we provide everything you need from the patient education material for your specialty, 

videos and practice-related content to appointment alerts and online patient forms. </p>

<p>We deliver a variety of ad impressions and thousands of new patients to our clients’ websites. </p>

<h1>3. Quality Of Work</h1>
<p>Our websites are simply better. Clean and optimized code, high-quality graphic design, fast download, 

mobile compatibility and advanced SEO are just a few examples of areas we are ahead of the pack. </p>

<!-- <p>All of this translates into more exposure because Google ranks quality websites higher on the 
search result pages. </p> -->

<p>Our websites continually rank better than the competition in quality, mobile compatibility, and speed.</p>

<h1>4. Competitive Pricing</h1>
<p>On average our fees are half of the other companies that offer a similar service. </p>

<p>Even though we create exclusive custom designs, our pricing is in line with most template companies. </p>

<p>Get a free quote. We are so confident that our pricing is competitive, we will beat any likewise quote 

from other companies by 10%.</p>

<h1>5. Client Satisfaction</h1>
<p>And best of all we offer personalized, live, Kenyan-based support to all our clients.</p> 

<!-- <p>We have earned a 5-star ranking thanks to Google reviewers. </p> -->

<p>Allow us to help you build a more successful practice. Contact us today!</p>