{% extends "base/base.html" %}
<br><br><br><br>
{% load static %}

{% block content %}


<section id="landing">
  <div class="mx-0 vh-80">
    <div class="h-100 d-flex">
      <div class="h-100 w-50 bg-dark overflow-hidden">
        <img class="w-100 align-self-end" src="media/images/stethoscope.jpg" alt="" style="height:500px;width: 300px;">
      </div>
      <div class="w-50 text-center d-flex align-items-center px-4 text-dark-blue bg-aqua">
        <h2>
          The main goals of cancer diagnosis and treatment programmes are to cure or considerably prolong the life of patients and to ensure the best possible quality of life for cancer survivors.
        </h2>
      </div>
    </div>
  </div>
</section>

<section id="reason">
  <div class="text-center d-flex flex-column vh-100">
    <div class="justify-content-center my-auto">
      <h1>What We Offer</h1>
      <div class="d-flex mt-4 justify-content-center">
        <div class="w-25 mx-5 text-center">
          <h3>Patients</h3>
          <div class="w-100">
            <img class="people-icon" src="media/images/pregnant_woman.png" alt="">
          </div>
          <p class="text-center">
            In-person, doctors spend 8 minutes or less with patients. Technology can improve our lives by providing an
            immediate, direct, and continuous line of communication between patients and providers.
          </p>
        </div>
        <div class="w-25 mx-5 text-center">
          <h3>Doctors</h3>
          <div class="w-100">
            <img class="people-icon" src="media/images/doctor_male.png" alt="">
          </div>
          <p class="text-center">
            Doctors ensure timely and equitable access to effective therapy for cancer types that present with advanced disease but have high potential for being cured, such as metastatic testicular cancer (seminoma) and acute lymphatic leukaemia in children. 


          </p>
        </div>
      </div>
    </div>
  </div>
</section>



<section id="ourmission">
  <div class="vh-90 container d-flex justify-content-center align-items-center">
    <div class="text-center">
      <h5>Our Mission</h5>
      <div class="d-flex">
        <h1 class="w-50 mx-auto">To prevent and cure cancer through pioneering interdisciplinary research, to translate new knowledge into better prevention and treatment, and to provide effective and compassionate clinical care that improves the lives of patients with cancer and their families.</h1>
      </div>
    </div>
  </div>
</section>

<section id="who-benefits" style="background-color:cadetblue;width: 800px;margin-left: 100px;border-radius: 20px;height:400px;">
  <div class=" vh-80 bg-dark-aqua d-flex align-items-center text-sea">
    <div class="text-center">
      <h1 class="text">Who Benefits</h1>
      <div class="d-flex mt-4 justify-content-center">
        <div class="w-25 text-center">
          <h3>Doctors</h3>
          <div class="w-100">
            <img class="people-icon" src="{% static 'img/doctor_male.png' %}" alt="">
          </div>
          <p class="text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt sapiente sequi magni quod. Nam aperiam
            molestiae, itaque odit illum nostrum ab harum nesciunt eligendi libero. Ad sequi laborum repellat quis?
          </p>
        </div>
        <div class="w-25 mx-5 text-center">
          <h3>Patients</h3>
          <div class="w-100">
            <img class="people-icon" src="{% static 'img/pregnant_woman.png' %}" alt="">
          </div>
          <p class="text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt sapiente sequi magni quod. Nam aperiam
            molestiae, itaque odit illum nostrum ab harum nesciunt eligendi libero. Ad sequi laborum repellat quis?
          </p>
        </div>
      </div>
    </div>
  </div>
</section><br>

<section>
  <div class="vh-100 d-flex align-items-center">
    <div class="row mx-0  d-flex align-items-center">
      <div class="col-md-4">
        <img class="w-100 p-5" src="{% static 'img/datastorage.png' %}" alt="">
      </div>
      <div class="col-md-8"><br>
        <h2>
          YOUR DATA IS SECURE
        </h2>
        <p>
          Nutrino protects patient confidentiality while furthering innovation and patient care.
        </p>
        <p>
          Nutrino complies with the Health Insurance Portability and Accountability Act (HIPAA).
          Administrative, Physical, and Technical Safeguards ensure the confidentiality, integrity, and security of all
          protected
          health information (PHI) collected by Nutrino’s platform. We will also comply with the General Data
          Protection
          Regulation (GDPR) of the European Parliament & Council starting in 2019.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="contact-us" style="background-color:cadetblue;width:800px;margin-left:100px;border-radius: 20px">
  <div class="text-center d-flex align-items-center vh-80 bg-dark-aqua">
    <div class="w-50 mx-auto">
      <div>
        <h3>Contact Us</h3>
        <div id="underline"></div>
      </div>
      <form id="contact-form" action="" method="post">
        <div class="form-group d-flex">
          <input type="text" name="first_name" class="form-control mr-2" placeholder="First Name" />
          <input type="text" name="last_name" class="form-control" placeholder="Last Name" />
        </div>
        <div class="form-group">
          <input type="email" name="email" class="form-control" placeholder="Email Address" />
          </li>
        </div>
        <div class="form-group">
          <textarea class="form-control" placeholder="Message (optional)" name="message"></textarea>
        </div>
        <input class="btn btn-primary" type="submit" value="Submit" />
      </form>
    </div>
  </div>
</section>

<!-- <iframe src="https://health.the-star.co.ke/dodgy-dr" frameborder="0" scrolling="no" height="200px" width="100%"></iframe> -->
{% endblock content %}



<script>

document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.carousel');
    var instances = M.Carousel.init(elems, options);
  });



</script>