{%extends "base/base.html"%}
{% load bootstrap4 %}
{%load static%}
{% block content %}
    <!-- Card Content -->
    <div class="container">
      <div class="row">
        <div class="col-md-6">
    <div class="card" style="width:400px">
        <div class="card-header" style="font-size:20px">Managing Cancer as a Chronic Illness</div>
        <div class="card-body">Cancer isn’t always a one-time event. Cancer can be closely watched and treated, but sometimes it never completely goes away. It can be a chronic (ongoing) illness, much like diabetes or heart disease. This is often the case with certain cancer types, such as ovarian cancer, chronic leukemias, and some lymphomas. Sometimes cancers that have spread or have come back in other parts of the body, like metastatic breast or prostate cancer, also become chronic cancers.

            The cancer may be controlled with treatment, meaning it might seem to go away or stay the same. The cancer may not grow or spread as long as you’re getting treatment. Sometimes when treatment shrinks the cancer, you can take a break until the cancer starts to grow again. But in either of these cases the cancer is still there – it doesn’t go away and stay away – it’s not cured.
            
            Living with cancer is different from living after cancer. And it’s becoming more common every day.
            </div> 
        <div class="card-footer">Living with cancer is different from living after cancer. And it’s becoming more common every day.
          </div>
      </div>
    </div>


    <div class="col-md-6">
        <div class="card" style="width:400px">
            <div class="card-header" style="font-size:20px" >How is chronic cancer described?</div>
            <div class="card-body">
                A doctor may use the term controlled if tests or scans show that the cancer is not changing over time. Another way of defining control would be calling the disease stable. Cancers like this are watched closely to be sure that they don’t start growing.

                </div> 
            <div class="card-footer">Living with cancer is different from living after cancer. And it’s becoming more common every day.</div>
          </div>
        </div>

        <div class="col-md-6">
            <div class="card" style="width:400px">
                <div class="card-header" style="font-size:20px">The cycle of recurrence and remission</div>
                <div class="card-body">
                    Most chronic cancers cannot be cured, but some can be controlled for months or even years. In fact, there’s always a chance that cancer will go into remission. There are different kinds of remission.
                    To qualify as either type of remission, the absence of tumor or reduction in the size of the tumor must last for at least one month. There’s no way to tell how long a remission will last, so remission does not mean the cancer definitely has been cured.

Some cancers (for example, ovarian), have a natural tendency of recurrence and remission. Often, this repeating cycle of growing, shrinking, and stabilizing can mean survival for many years during which the cancer can be managed as a chronic illness. Treatment can be used to control the cancer, help relieve symptoms, and help you live longer.


                    </div> 
                <div class="card-footer">Living with cancer is different from living after cancer. And it’s becoming more common every day.</div>
              </div>
            </div>
    
            <div class="col-md-6">
                <div class="card" style="width:400px">
                    <div class="card-header" style="font-size:20px">Progression</div>
                    <div class="card-body">
                        Cancers that aren’t changing may be called stable disease. When cancer grows, spreads, or gets worse it’s called cancer progression. When cancer comes out of remission it’s said to have progressed. In the case of chronic cancers, recurrence and progression can mean much the same thing.

                        Progression may be a sign that you need to start treatment again to get the cancer back into remission. If the cancer progresses during or soon after treatment, it may mean that a different treatment may be needed.
                        
                        Progression and recurrence occur when the treatment doesn’t kill all of the cancer cells. Even if most of the cancer cells were killed, some were either not affected or were able to change enough to survive the treatment. These cancer cells can then grow and divide enough to show up on tests again.
        
                        </div> 
                    <div class="card-footer">Living with cancer is different from living after cancer. And it’s becoming more common every day.</div>
                  </div>
                </div>


                <div class="col-md-6">
                    <div class="card" style="width:400px">
                        <div class="card-header" style="font-size:20px">Chemotherapy</div>
                        <div class="card-body">
                            Over the long term, cancers are usually treated with chemotherapy (chemo) in 1 of 2 ways.

                            Another thing to think about is that cancer cells can become resistant to chemo. The tumors that keep coming back often do not respond to treatment as well as the first tumors did. For example, if the cancer comes back within a year or 2 of getting chemo, it may be resistant to this type of chemo and another drug may be a better option. Sometimes doctors will say, “You’ve already had this drug, so we need to try another one.” This can mean they think you’ve gotten all the help you can from a certain type of drug and another one will probably better kill the cancer cells because it works in a different way.

Sometimes your doctor will not want to use a certain drug because of the risk of a certain side effect, or because you have had that drug before. For instance, some chemo drugs can cause heart problems or nerve damage in your hands and feet To keep giving you that same drug would risk making those problems worse or even lead to permanent damage.


            
                            </div> 
                        <div class="card-footer">Living with cancer is different from living after cancer. And it’s becoming more common every day.</div>
                      </div>
                    </div>
    </div>
    </div>
      
{%endblock%}

